trigger:
  - main

resources:
  - repo: self

variables:
  - group: "CICD"
  - name: app_var
    value: $[variables.appVariable]
parameters:
  - name: tag
    default: "$(Build.BuildId)"
  - name: imageName
    default: "public-api"  

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool: local-agent

    steps:
     - script:
        echo "var=$(app_var)"
        echo "tag= ${{ parameters.tag }}"

     - task: Docker@2
       displayName: Build an image
       inputs:
         repository: ${{parameters.imageName}}
         command: build
         dockerfile: '**/qa.dockerfile'
         tags: ${{ parameters.tag }}
         arguments: '--build-arg APP_ENV=$(app_var)'

     - task: Docker@2
       displayName: Push
       inputs:
         command: push
         repository: ${{ parameters.imageName }}
         containerRegistry: 'c14b3890-931b-4fc8-819d-c68bfb154d34'
         tags: ${{ parameters.tag }} #Prueba